extends ../layout/app_ng

block content 
  .process-instance
    span Entity: 
    pre !{instance.getEntity()}
    
    hr
    
    // TODO 暂时直接链接到“受理”的任务测试
    a.btn.btn-primary(href="/processes/instances/#{instance.getId()}/task/#{nextTask.getId()}") #{nextTask.getName()}
