<div th:fragment="common_header">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="SeGA Workflow System Demo" />
    <meta name="author" content="SeGA Group." />
    <title>SeGA Workflow System Demo</title>

    <!-- bootstrap & jquery -->
    <link rel="stylesheet" href="../../../resources/vendors/bootstrap-3.3.5-dist/css/bootstrap.min.css" th:href="@{/resources/vendors/bootstrap-3.3.5-dist/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/font.css" rel="stylesheet" th:href="@{/resources/css/font.css}" />
    <link href="../../../resources/css/theme.css" rel="stylesheet" th:href="@{/resources/css/theme.css}" />
    <link rel="stylesheet" href="../../../resources/vendors/selectpicker/css/bootstrap-select.min.css" th:href="@{/resources/vendors/selectpicker/css/bootstrap-select.min.css}"/>


    <script src="../../../resources/vendors/jquery/jquery-2.1.4.min.js" th:src="@{/resources/vendors/jquery/jquery-2.1.4.min.js}"></script>
    <script src="../../../resources/vendors/bootstrap-3.3.5-dist/js/bootstrap.min.js" th:src="@{/resources/vendors/bootstrap-3.3.5-dist/js/bootstrap.min.js}"></script>
    <script src="../../../resources/vendors/selectpicker/bootstrap-select.min.js" th:src="@{/resources/vendors/selectpicker/bootstrap-select.min.js}"></script>
</div>
