.metadata/
.recommenders/
RemoteSystemsTempFiles/
target/
.settings/
.idea/
.gradle
build/
.DS_Store
*.log
*.iml
ProcessDesigner/src/main/webapp/images/process/p_svg_*.*
TaskViewer/src/main/resources/templates/fragments/humantask/