.relative{
	position:relative;
}
.paper-container{

	overflow-x: auto;

}

.step-title {
    display: none;
}

.step-title2 h1 {
    display: inline-block;
    vertical-align: middle;
}

.toolbox {
    display: inline-block;

    margin-left: 20px;
    margin-top: 20px;

    border-radius: 6px;
    background: #ECF0F1; 
    width: 300px;
    height: 50px;
    line-height: 0px;
    vertical-align: middle;
    font-size: 0;
}

.toolbox>span {
    display: inline-block;
    line-height: 50px;
    height: 50px;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background: #2C3E50;
    vertical-align: middle;
}

.toolShape {
    background: url("../images/tools-bg.png") no-repeat;
    opacity: 0.5;
    display:inline-block;
    width:50px;
    height:50px;
    vertical-align: middle;
    transition: all 0.3s linear;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.toolShape:hover {
    opacity: 1;
    background-color: #1ABC9C;
}

.toolShape:active {
    cursor: none;
}

.endShape{
    background-position:0px -50px;
}
.taskShape{
    background-position:-2px -102px;
}
.linkShape{
    background-position:-0px -150px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}

.paper-container svg g.highlighted {
    outline: 0px solid #FF0000;
}

.paper-container svg g.sega.Task rect.body {
    fill: #34495E;
    transition:all 0.3s linear;
}

.paper-container svg g.sega.Task rect.body:hover {
    fill: #269085;
}

.paper-container svg g.sega.Task.highlighted rect.body {
    fill: #1ABC9C;
}

.paper-container svg g.sega.Link path {
    transition:all 0.3s linear;
}

.paper-container svg g.sega.Link.highlighted path.connection {
    stroke: #1ABC9C;
}

.paper-container svg g.sega.Link.highlighted path.connection-wrap {
    opacity: 0;
    stroke-opacity: .2;
}

.paper-container svg g.sega.Link.highlighted path.connection-wrap:hover {
    opacity: 1;
    stroke-opacity: .2;
}

.form-panel{
	background: #f7f7f7;
	margin-top:-30px;
}
.form-panel .col-md-4,.form-panel .col-md-3,.form-panel .col-md-2{
    margin-top: 15px;
}

#syncPoint{
	margin:0;
	vertical-align: middle;
}

.fr{
    position:absolute;
    right:15px;
    margin-top:15px !important;
}

.data-modal {
    height:500px;
    overflow: auto;
}

.data-label-group{
    float:right;
}
.syncPoint-block{
    margin-top: 30px;
}

.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}