.relative{
	position:relative;
}

.step-title {
    display: none;
}

.step-title2 h1 {
    display: inline-block;
    vertical-align: middle;
}

.toolbox {
    display: inline-block;

    margin-left: 20px;
    margin-top: 20px;

    border-radius: 6px;
    background: #ECF0F1; 
    width: 350px;
    height: 50px;
    line-height: 0px;
    vertical-align: middle;
    font-size: 0;
}

.toolbox>span {
    display: inline-block;
    line-height: 50px;
    height: 50px;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background: #2C3E50;
    vertical-align: middle;
}

.toolShape {
    background: url("../images/tools-bg.png") no-repeat;
    opacity: 0.5;
    display:inline-block;
    width:50px;
    height:50px;
    vertical-align: middle;
    transition: all 0.3s linear;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.toolShape:hover {
    opacity: 1;
    background-color: #1ABC9C;
}

.toolShape:active {
    cursor: none;
}

.startShape{
    background-position:0px -50px;
}
.taskShape{
    background-position:-2px -102px;
}
.linkShape{
    background-position:-0px -150px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.toolShape.serviceShape{
    background: url("../images/tools-cloud.png") no-repeat;
    background-size: 40px 37px;
    background-position: 5px 5px;
}

body {
    overflow: hidden;
}

.paper-container {
    max-width: 100%;
    overflow: scroll;
}

.paper-container::-webkit-scrollbar{
   -webkit-appearance: none;
   width: 10px;
   height: 10px;
}

.paper-container::-webkit-scrollbar-thumb {
    background-color: #BDC3C7;
    border: 1px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

.paper-container::-webkit-scrollbar-track {
    background-color: #ECF0F1;
    width: 8px;
}

.paper-container svg g.highlighted {
    outline: 0px solid #FF0000;
}

.paper-container svg g.sega.Task .label {
    font-size: 16px;
    font-family: "Open Sans", "Microsoft Yahei" , "Microsoft YaHei UI Light";
}

.paper-container svg g.sega.Task rect.body {
    fill: #34495E;
    transition:all 0.3s linear;
}

.paper-container svg g.sega.Task rect.body:hover {
    fill: #269085;
}

.paper-container svg g.sega.Task.highlighted rect.body {
    fill: #1ABC9C;
}

.paper-container svg g.sega.Service * {
    transition:all 0.3s linear;
}

.paper-container svg g.sega.Service .inner-body {
    fill: #FFFFFF;
    stroke-width: 2px;
    stroke: #5D8599;
}

.paper-container svg g.sega.Service .label {
    font-size: 14px;
}

.paper-container svg g.sega.Service:hover .inner-body {
    fill: #5D8599;
    
}

.paper-container svg g.sega.Service:hover .label {
    fill: #f7f7f7;
}

.paper-container svg g.sega.Service.highlighted .border {
    fill: #1ABC9C;
}

.paper-container svg g.sega.Service.highlighted .inner-body {
    fill: #1ABC9C;
    stroke: #1ABC9C;
}

.paper-container svg g.sega.Service.highlighted .label {
    fill: #f7f7f7;
}

.paper-container svg g.sega.Link path {
    transition:all 0.3s linear;
}

.paper-container svg g.sega.Link.highlighted path.connection {
    stroke: #1ABC9C;
}

.paper-container svg g.sega.Link.highlighted path.connection-wrap {
    opacity: 0;
    stroke-opacity: .2;
}

.paper-container svg g.sega.Link.highlighted path.connection-wrap:hover {
    opacity: 1;
    stroke-opacity: .2;
}

.form-panel {
    position: fixed;
    bottom: 0;
    margin-bottom: 0px;
    padding-top: 0;

    height: 0px;
    width: 100%;
    width: -moz-calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
    width: -o-calc(100% - 10px);
    width: calc(100%-10px);

    background-color: #ECF0F1; 
    color: #000;
    transition: all 0.6s ease;
    opacity: 0;
}

.form-panel.active {
    height: 80px;
    opacity: 1;
    margin-bottom: 10px;
    padding-top: 10px;
}



#syncPoint{
	margin:0;
	vertical-align: middle;
}

.fr{
    position:absolute;
    right:15px;
    margin-top:15px !important;
}

.data-modal {
    height:500px;
    overflow: auto;
}

.data-label-group{
    float:right;
}
.syncPoint-block{
    margin-top: 30px;
}

.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}