.filter .panel {
	
} 
.gallery-item{
	width:100%;
	overflow: hidden;
	margin-bottom: 30px;
	background-color:#F7F7F7;
	border-width: 0;
	color:#333;
	font-family: "Microsoft Yahei"
}
.gallery-item .img-holder{
	width:inherit;
	height: 250px;
	background-color: #F7F7F7;
}
.gallery-item img{
	display: block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	magin:0 auto;
}
.gallery-item .gallery-item-title{
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
}
.gallery-item .gallery-buttonGroup{
	margin: 0 auto 6px auto;
	width:90%;
}

.gallery-item .gallery-buttonGroup .btn-group {
	width: 100%;
}

.gallery-item .gallery-buttonGroup button{
	width: 50%;
	border-radius: 4px;
}
.input-group{
	margin:auto 15px;
	margin-bottom: 30px;
}

.modal h2 {
	margin-bottom: 30px;
}

.modal .modal-body {
	padding-bottom: 30px;
}

.modal .modal-body textarea {

}