.process-instance .element {
    cursor: default;
}


.process-instance [magnet=true]:not(.element) {
    cursor: default;
}

.process-instance pre {
    margin-top :20px;
}

#processViewer .port-body,
#processViewer .inner {
    fill: #BDC3C7;
}

#processViewer .connection,
#processViewer .outter{
    stroke: #ECF0F1;
}

#processViewer .marker-target {
    fill: #BDC3C7;
    stroke: #BDC3C7;
}

#processViewer .body {
    fill: #ECF0F1;
}

#processViewer .label {
    fill: #BDC3C7;
    font-weight: 300;
    font-size: 18px;
}

#processViewer .active .body {
    fill: #34495E;
}

#processViewer .active .label {
    fill: #fff;
}

#processViewer .active .inPorts .port-body {
    fill: #2C3E50;
}

.btn-task {
    display: block;
    margin : 10px auto 10px auto;
    width: 25%;
}