<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">
<head>
    <div th:replace="fragments/common_header :: common_header">&nbsp;</div>
    <link href="../../../resources/css/task-list.css" rel="stylesheet" th:href="@{/resources/css/task-list.css}"/>
</head>
<body ng-controller="AppController" ng-init="init()">

<div th:replace="fragments/navbar :: navbar">&nbsp;</div>

<div class="container">

    <div class="row" id="user-area">
        <div class="col-sm-12">
            <img class="userImg" src="/resources/images/user/expert.png" height="90px" width="90px"/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <!-- 任务内容区 -->
            <div class="g-content">
                <!-- 内容栏 -->
                <div class="m-activity">
                    <h3>Activities
                        <small class="totalNum">共<em> 0 </em>个</small>
                    </h3>
                    <div class="btn-create">
                        <a class="" href="#">
                            <span class="glyphicon glyphicon-plus-sign addActivity" aria-hidden="true"></span>
                            Create </a>
                    </div>

                    <ul class="list-unstyled" id="activityList">
                        <li ng-repeat="activity in activities">
                            <img class="activityImg" src="{{activity.step_image_url}}" />

                            <div class="info">
                                <div class="btn-edit"><a class="btn btn-default btn-xs" href="{{activity.process_url}}"><span
                                        class="glyphicon glyphicon-edit"></span></a></div>
                                <p class="header text-elli">{{activity.stepName}}</p>

                                <p class="date">{{activity.date}}</p>

                                <p class="decription">Process: {{activity.process.name}}</p>
                            </div>
                        </li>

                    </ul>

                </div>

                <!-- 分页 -->
                <div id="my-pagination">

                </div>

            </div>
        </div>

        <div class="col-sm-4">
            <!-- 右侧栏 -->
            <div class="m-sidebar">
                <!-- 最近任务 -->
                <div class="latestTask">
                    <h4 class="header">Latest Task</h4>

                    <div ng-show="firstActivity" class="list-unstyled" id="latestTaskList">
                        <img class="activityImg" src="{{firstActivity.step_image_url}}" />

                        <div class="info">
                            <p class="info-header">
                                {{firstActivity.stepName}}
                            </p>

                            <p class="date">{{firstActivity.date}}</p>

                            <p class="decription">Process: {{firstActivity.process.name}}</p>
                        </div>
                    </div>
                </div>

                <!-- 搜索栏 -->
                <div class="search">
                    <h4>
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <span class="header">Search</span>
                    </h4>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..." />
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                            </div>
                            <!-- /input-group -->
                        </div>
                        <!-- /.col-lg-3 -->
                    </div>
                </div>

                <!-- 按图标筛选栏 -->
                <div class="select">
                    <ul class="list-unstyled" id="taskList">
                        <li>
                            <img class="activityImg" src="/resources/images/step_detail/step-process-select.png" />

                            <p>Select Process Template</p>
                        </li>
                        <li>
                            <img class="activityImg" src="/resources/images/step_detail/step-custom-entity.png" />

                            <p>Customize Entity</p>
                        </li>
                        <li>
                            <img class="activityImg" src="/resources/images/step_detail/step-dbtemplate-edb-mapping.png" />

                            <p>Template DB-EDB Mapping</p>
                        </li>
                        <li>
                            <img class="activityImg" src="/resources/images/step_detail/step-entity-edb-mapping.png" />

                            <p>Entity-EDB Mapping</p>
                        </li>

                        <div style="clear:both;"></div>
                        <li>
                            <img class="activityImg" src="/resources/images/step_detail/step-custom-process.png" />

                            <p>Customize Process</p>
                        </li>
                        <li>
                            <img class="activityImg" src="/resources/images/step_detail/step-bind-process.png" />

                            <p>Service Binding</p>
                        </li>

                        <li>
                            <img class="activityImg" src="/resources/images/step_detail/step-publish.png" />

                            <p>Publish</p>
                        </li>


                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- END of row  -->

</div> <!-- END of container -->


</body>
</html>
