nav.navbar.navbar-fixed-top.navbar-bright
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/")
        span(style="color:#f9f9f9;font-weight:200;") 住房保障公共服务平台
    .collapse.navbar-collapse#navbar
      ul.nav.navbar-nav.nav-parent
        li
          //-a(href="http://112.124.29.111:9100/") Process Designer
          a(href="localhost:9100/login.action") 流程设计 
        li.active
          a(href="/") 业务办理  
            img(class="nav-bar-triangle",src="#{basePath}/images/triangle.png")
          ul.nav.nav-myself
            li
              a(href="#") 房源管理
            li
              a(href="#") 资格管理
            li
              a(href="#") 配租管理
            li
              a(href="#") 租金缴交
        li
          a(href="#") 关于
        li 
          a(href="show-log-console") 控制台
      .navbar-right.navbar-user
        img(src="#{basePath}/images/user/operator.png", style="width:32px;height:32px;")
        .dropdown
          span.dropdown-toggle(data-toggle="dropdown") &nbsp;操作员
          ul.dropdown-menu
            li
              a(href="javascript:$('#form').submit();")
                span.glyphicon.glyphicon-log-out(aria-hidden="true") &nbsp;退出
            
              form#form(style="visibility: hidden", method="post", action="#{basePath}/logout")
                input(type="hidden", name='_csrf', value='#{_csrf.token}')
          
            // TODO
            //- if authorization.expression('isAuthenticated()')
            //-   li test
